node_modules/
postgres/
npm-debug.log
.DS_Store

dist/
build/
*test*/

.env
.idea
.vscode

logs
*.log
*.md

.gitignore
.eslintignore
.prettierignore

.git/
.github/workflows/
.github/reports/
coverage/

.env*
.eslintrc*
.prettierrc*

CHANGELOG.md
README.md
