node_modules
postgres
build
dist
coverage

jest.config.js

npm-debug.log

.env
.env.local
.env.production

package-lock.json

logs
*.log
npm-debug.log*

.eslintcache
.node_repl_history
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

.DS_Store

*.tsbuildinfo

docker-compose.override.yml

temp
*.tmp

